[package]
name = "cower-target"
version = "0.1.0"
edition = "2024"
license = "Apache-2.0"

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.53", features = ["derive"] }
cower-common = { path = "../cower-common" }
native-tls = "0.2.14"
